<main #register class="d-flex justify-content-center align-items-center vh-100" *ngIf="!istrue">
  <div>
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-primary">Register</h1>
    </div>
    <div class="text-left w-100 p-3">
      <div class="mb-3">
        <input type="text" class="form-control" id="username" placeholder="Username">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Expecto Patronum</button>
      </div>
    </div>
    <div class="alert alert-warning border border-2 border-top-0 border-bottom-0 border-end-0 border-danger"
      role="alert">
      <p>Or... if you already have the password to this mystical realm of Nárnia...</p>
      <div class="text-left w-100 p-3 d-grid gap-2">
        <button (click)="goToLogin()" class="btn btn-primary" type="button">just click here</button>
      </div>
    </div>
  </div>
</main>

<main #login class="d-flex justify-content-center align-items-center vh-100" *ngIf="istrue">
  <div>
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-primary">Login</h1>
    </div>
    <div class="text-left w-100 p-3">
      <div class="mb-3">
        <input type="text" class="form-control" id="username" placeholder="Username or Email">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Lumos</button>
      </div>
    </div>
    <div class="alert alert-primary border border-2 border-top-0 border-bottom-0 border-end-0 border-warning"
      role="alert">
      <p>Or... if you don't have the password to enter Mount Olympus yet...</p>
      <div class="text-left w-100 p-3 d-grid gap-2">
        <button (click)="goToRegister()" class="btn btn-secondary" type="button">just click here</button>
      </div>
    </div>
  </div>
</main>
