@import "./variables.scss";
@import "./functions.scss";

$primary:       $pink;
$secondary:     $orange;
$success:       $teal;
$info:          $cyan;
$warning:       $yellow;
$danger:        $dark-red;
$light:         $light-pink;
$dark:          $dark-pink;

