$pink:       #801F4F;
$orange:     #FD7E14;
$teal:       #20C997;
$cyan:          #3DD5F3;
$yellow:       #FFC107;
$dark-red:        #58151C;
$light-pink:         #e90476;
$dark-pink:          #2e0017;
